.display{
    border:solid;
    margin: 5px;
    height: 150px;
    padding-right: 10px;
    background-color: black;
}
.display-section{
    height: 50%;
    margin: 0;
    background-color: black;
    color:white;
    text-align: end;
   /* border: solid white;*/
    line-height: 75px;
    vertical-align: middle;
    font-family: monospace;
    font-size: 2rem;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.error{
    display: block;
    position: relative;
    left: 0;
    font-size: 2rem;
    /*font-family: 'Times New Roman', Times, serif;*/
    color: orange;
    /*background-color: white;*/
    text-align: center;
}